.switch {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 1.24;
}

.switch__box {
  border-radius: 20px;
  border: 2px solid #7e7e7e;
  width: 54px;
  height: 28px;
  appearance: none;
  cursor: pointer;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}
.switch__slider-C {
  transform: translateX(0);
}

.switch__slider-F {
  transform: translateX(26px);
}
.switch__active {
  color: #fff;
}
.switch__temp-F {
  position: absolute;
  top: -8px;
  left: 36px;
  cursor: pointer;
}
.switch__temp-C {
  position: absolute;
  top: -8px;
  left: 9px;
  cursor: pointer;
}
.switch__temp-F,
.switch__temp-C {
  transition: color 0.2s ease-in-out;
}
