.profile {
  display: flex;
}
.profile__sidebar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.profile__clothing-items {
  display: flex;
  flex-direction: column;
}
