.profile {
  display: flex;
  flex: 1;
}
.profile__sidebar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.profile__clothing-items {
  display: flex;
  flex-direction: column;
}
@media (max-width: 640px) {
  .profile {
    flex-direction: column;
  }
}
