.card {
  width: 325px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 15px;
  overflow: hidden;
}
.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  margin: 0;
  gap: 10px;
}
.card__name {
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  color: rgb(0, 0, 0, 0.6);
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
}
.card__image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border: 1px rgba(0, 0, 0, 0.3) solid;
  border-radius: 10px;
  object-fit: cover;
}
.card__delete-button {
  position: absolute;
  top: 25%;
  left: 75%;
  border: none;
  background-color: transparent;
}
.card__delete-button:hover {
  opacity: 0.6;
}
.card__like {
  width: 18px;
  height: 15px;
  background-color: transparent;
  border: 0;
  background-image: url('../../images/like.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__like_visible {
  visibility: visible;
}

.card__like_hidden {
  visibility: hidden;
}

.card__like_liked {
  background-image: url('../../images/liked.png');
}
