.card {
  width: 325px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  color: rgb(0, 0, 0, 0.6);
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
}
.card__image {
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0, 0.3);
}
.card__delete-button {
  position: absolute;
  top: 25%;
  left: 75%;
  border: none;
  background-color: transparent;
}
.card__delete-button:hover{
  opacity: .6;
}