.page {
  background-color: #f3f3f3;
  height: 100%;
}
.page__content {
  max-width: 1360px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Grotesk', Arial, sans-serif;
}

@media (max-width: 640px) {
  .page__content {
    font-size: 18px;
    padding: 0 24px;
    overflow: auto;
  }
}
