.page{
  background-color: #f3f3f3;
}
.page__content{
  max-width: 1360x;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-family:"Grotesk", Arial, sans-serif;
}
.modal__input{
  display: block;
  opacity: .5;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 29px;
}
.modal__label{
  padding-top: 24px;
}
.modal__radio-buttons{
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.modal__legend{
  padding: 24px 0 4px 0;
}
.modal__label_type_radio{
  margin: 0;
  padding-top: 8px;
}