.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  width: 100%;
}
.cards__text {
  line-height: 1.24;
}
