.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-style: italic;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}
.header__current-user {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.header__add-btn {
  margin: 0 8px 0 8px;
  padding: 0;
  font-family: 'Cabinet Grotesk', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  border: none;
  background: none;
  cursor: pointer;
}
.header__link {
  display: flex;
  text-decoration: none;
  color: #000;
  align-items: center;
  gap: 20px;
}
.header__username {
  margin: 0;
  color: #000;
  text-decoration: none;
  font-style: italic;
}
.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: 'Cabinet Grotesk', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.header__avatar-placeholder {
  color: #fff;
  background-color: #ccc;
  font-family: 'Cabinet Grotesk', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-content: center;
  text-align: center;
}
.header__signup-btn {
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  font-family: 'Cabinet Grotesk', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.5;
  cursor: pointer;
}
.header__login-btn {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Cabinet Grotesk', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.5;
  cursor: pointer;
}

@media (max-width: 640px) {
  .header {
    flex-direction: column;
    padding: 28px 0;
  }
  .header__user-container {
    width: 100%;
    justify-content: space-between;
  }
  .header__left {
    justify-content: space-between;
    width: 100%;
  }
  .header__add-btn {
    font-size: 18px;
  }
  .header__current-user {
    gap: 10px;
  }
}
