.confirm-delete-modal {
  max-width: 670px;
  width: 100%;
  height: 280px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.confirm-delete-modal__container {
  max-width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.confirm-delete-modal__delete {
  margin-top: 30px;
  background-color: transparent;
  border: none;
  color: #ff4d00;
  cursor: pointer;
}

.confirm-delete-modal__close:hover {
  opacity: 0.6;
}

.confirm-delete-modal__cancel {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.confirm-delete-modal__cancel:hover {
  opacity: 0.6;
}

.confirm-delete-modal__text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.confirm-delete-modal__close-btn {
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  background-image: url('../../images/close.svg');
  height: 20px;
  width: 20px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .confirm-delete-modal {
    margin: 0 26px;
  }
  .confirm-delete-modal__container {
    padding: 0 16px;
  }
}
