.modal__image {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.modal__content-items {
  padding: 0;
  border-radius: 16px;
  width: 498px;
  height: 610px;
}
.modal__item-close {
  background-image: url(../../images/close-preview.png);
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal__footer {
  padding: 0;
  margin: 20px auto 32px 32px;
}
.modal__caption {
  padding: 0;
  margin: 0;
}
.modal__weather {
  padding: 12px 0 0 0;
  margin: 0;
}
.button__delete-card {
  position: absolute;
  top: 25%;
  left: 75%;
  border: none;
  background-color: transparent;
}
.button__delete-card:hover {
  opacity: 0.6;
}
