.modal__content_type_preview {
  padding: 0;
  border-radius: 16px;
  width: 498px;
  height: 610px;
  background-color: #fff;
  position: relative;
}
.modal__close_type_white {
  background-image: url('../../images/close-preview.svg');
  border: none;
  position: absolute;
  top: 26px;
  right: 26px;
  width: 16px;
  height: 16px;
  background-color: transparent;
}
.modal__image {
  width: 498px;
  height: 498px;
  border-radius: 16px 16px 0 0;
}
.modal__footer {
  display: flex;
  flex-direction: row;
}
.modal__footer_own {
  display: flex;
  justify-content: space-around;
}
.modal__caption {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Grotesk', Arial, sans-serif;
}
.modal__weather {
  padding: 12px 0 0 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Grotesk', Arial, sans-serif;
}
.modal__left-section {
  padding: 0;
  margin: 20px auto 32px 32px;
}
.modal__right-section {
  margin: 20px 32px auto auto;
}
.modal__delete-button {
  border: none;
  background-color: #fff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Grotesk', Arial, sans-serif;
  color: #ff4d00;
  opacity: 1;
}
.modal__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.modal__delete-button_visible {
  display: flex;
}
.modal__delete-button_hidden {
  display: none;
}
@media (max-width: 640px) {
  .modal__content_type_preview {
    width: 100%;
    height: auto;
    margin: 0 20px;
  }
  .modal__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  .modal__caption,
  .modal__weather,
  .modal__delete-button {
    font-size: 18px;
  }
  .modal__left-section {
    margin-left: 24px;
  }
  .modal__right-section {
    margin-right: 24px;
  }
}
