.sidebar {
  width: 285px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.sidebar__userinfo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
}
.sidebar__username {
  line-height: 1.24;
  margin: 0;
  display: flex;
  align-items: center;
  width: 157px;
  font-style: italic;
}
.sidebar__button {
  margin-top: 8px;
  padding: 0;
  border: none;
  font-family: 'Cabinet Grotesk', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.24;
  text-align: left;
  cursor: pointer;
  display: flex;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin: 0 16px 0 0;
  border-radius: 50%;
}
.sidebar__avatar-placeholder {
  color: #fff;
  background-color: #ccc;
  font-family: 'Cabinet Grotesk', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  align-content: center;
  text-align: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
@media screen and (max-width: 640px) {
  .sidebar {
    width: auto;
    flex-direction: row;
  }
  .sidebar__button {
    font-size: 16px;
  }
  .sidebar__username {
    width: auto;
  }
}
