.modal__or-button {
  padding: 0;
  font-family: 'Grotesk', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  opacity: 50%;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 250px;
  bottom: 44px;
}
