.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-decoration: none;
}

.avatar__placeholder {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  background-color: #000;
  opacity: 0.2;
  border-radius: 50%;
  color: #fff;
}

.avatar__sidebar {
  width: 56px;
  height: 56px;
  margin: 0;
}

.avatar__placeholder_sidebar {
  width: 56px;
  height: 56px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
}
